* {
  font-family: 'Poppins', sans-serif;
}

#Active{
  color: #00ADB5;
}

#navbarSupportedContent ul li a {
  font-size: 18px;
  font-weight: 500;
  padding: 0 30px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

#navbarSupportedContent ul li a:after {
  content: '';
  height: 2px;
  width: 0%;
  background-color: #00ADB5;;
  display: block;
  transition: .5s ease-in-out;
}

#navbarSupportedContent ul li a:hover::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: #00ADB5;;
  display: block;
  transition: .5s ease-in-out;
}

@media screen and (min-width: 600px) {
  .d-flex {
    width: 500px;
    height: 50px;
    margin: auto;
    background-color: #EEEEEE;
    border-radius: 24px;
  }
}

@media screen and (max-width: 601px) {
  .d-flex {
    width: 43vh;
    height: 50px;
    margin: auto;
    background-color: #EEEEEE;
    border-radius: 24px;
  }
}

.d-flex input {
  background: transparent;
  flex: 1;
  border: 24px;
  outline: none;
  padding: 0 25px;
}

.bag {
  width: 35px;
  height: auto;
}

.profile {
  width: 30px;
  height: auto;
}